################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dominion.Tests/appsettings.json

# Environment / secrets
.env
.env.local
.env.*.local